{% extends 'base.html' %}

{% block title %}Account{% endblock %}
{% block page_title %}Accounts Page{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='accountAssets/accountStyle.css') }}" type="text/css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container">
    <div class="details">
            <div class="Avatar">
                <img src="{{ url_for('static', filename='Avatar-Default.png') }}" alt="Avatar-Default">
            </div>
            <div class="display_box">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ current_user.email }}" readonly>
            </div>
            <div class="display_box">
                    <label for="email">Firstname</label>
                    <input type="email" id="email" name="email" value="{{ current_user.firstname }}" readonly>
            </div>
            <a class="btn" type="button" onclick="window.location.href='{{ url_for('users.change_password_email') }}'">Change Password</a>
    </div>
</div>
{% endblock %}
