   {% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="centered">
        <h2>Change Password</h2>
        <form method="POST">
            {{ form.csrf_token() }}
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
                <span id="password-error" class="error-message"></span>
            </div>
            <button type="submit" name="submit" id="submit">Change Password</button>
        </form>

    </div>

<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        var errorElement = document.getElementById('password-error');

        if (password !== confirm_password) {
            // Display error message
            errorElement.textContent = 'Passwords do not match';
            // Prevent form submission
            event.preventDefault();
        } else {
            errorElement.textContent = '';
        }
    });
</script>

{% endblock %}