{% extends 'base.html' %}

{% block content %}
<head>
    <h1 class="page-title">{% block title %}Register Page{% endblock %}</h1>
    <link href="{{ url_for('static', filename='registerAssets/registerStyle.css') }}" type="text/css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="form-box register">
            <form id="registerForm" method="POST">
                {{ form.csrf_token() }}
                <div class="Avatar">
                    <img src="static/Avatar-Default.png" alt="Avatar image">
                </div>
                <div class="input-box">
                    <div class="email-icon-container">
                        <i class='bx bx-envelope' style="color: #222"></i>
                        <span class="email-explanation-text">We need your email to send updates about your cupboard.
                        </span>
                    </div>
                    <input type="email" name="email" id="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-box">
                    <i class='bx bxs-contact' style="color: #222"></i>
                    <input type="text" id="firstname" name="firstname" required>
                    <label for="firstname">Firstname</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Password</label>
                    <img src="{{ url_for('static', filename='password-view-false.png') }}" onclick="togglePasswordVisibility('password', 'eye-icon-password')" class="pass-icon" id="eye-icon-password" width="20px">
                </div>
                <div class="input-box">
                    <input type="password" name="confirm_password" id="confirm_password" required>
                    <label for="confirm_password">Confirm Password</label>
                    <img src="{{ url_for('static', filename='password-view-false.png') }}" onclick="togglePasswordVisibility('confirm_password', 'eye-icon-confirm-password')" class="pass-icon" id="eye-icon-confirm-password" width="20px">
                </div>

                <button class="btn" name="submit" id="submit" type="submit">Register</button>

            </form>
            <div class="loginChevron" onclick="loadLoginPage()">
                    <a href=" {{ url_for('users.login') }}"></a><i class='bx bxs-chevrons-right loginBtn'></i>
                    <span class="loginPageText">Continue to Login</span>
                </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='registerAssets/registerScript.js') }}"></script>
</body>

{% endblock %}
