flask~=3.0.3
attrs
cryptography
Pillow
docutils
sphinx
Jinja2
MarkupSafe
werkzeug~=3.0.3
click
blinker
itsdangerous
greenlet
SQLAlchemy
flask_sqlalchemy
flask_login
requests
openfoodfacts
PyMySQL
flask_mail
APScheduler
flask_wtf
wtforms
email_validator
pytest