<!--
     Author: Thomas Reece
     Description: Contains basic styling for the site, with navigation links and flash messages.
-->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='baseAssets/baseStyle.css') }}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navigationBar">
            <div class="navDiv">
                <img src="{{ url_for('static', filename='cupboardyTitle.png') }}" alt="Cupboardy Title" class="cupboardyLogo">
                <ul>
                    {% if current_user.is_authenticated %}
                        {% if current_user.role == 'user' %}
                            <li><a href="{{ url_for('mainbp.main') }}">Home</a></li>
                            <li><a href="{{ url_for('users.account') }}">Account</a></li>
                            <li><a href="{{ url_for('inventory_bp.inventory') }}">Inventory</a></li>
                            <li><a href="{{ url_for('mainbp.donate') }}">Donate</a></li>
                            <li><a href="{{ url_for('shopping.shopping_list') }}">Shopping List</a></li>
                            <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
                        {% endif %}
                        {% if current_user.role == 'admin' %}
                            <li><a href="{{ url_for('mainbp.main') }}">Home</a></li>
                            <li><a href="{{ url_for('users.account') }}">Account</a></li>
                            <li><a href="{{ url_for('users.admin') }}">Admin</a></li>
                            <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ url_for('mainbp.main') }}">Home</a></li>
                        <li><a href="{{ url_for('users.register') }}">Register</a></li>
                        <li><a href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% if error %}
        <ul class="flashes">
            <li class="flash-message error">{{ error }}</li>
        </ul>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
